# Libs
node_modules
__pycache__

### Home Assistant 
# Storage
.storage
.cloud
.google.token

# Database files
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant_v2.db-journal

# Logfiles
*.log

# Secrets and personal information
ip_bans.yaml
secrets.yaml
known_devices.yaml
phue.conf